<section id="notifications" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="page-header"><h2>Manage Notifications</h2></div>
				<label>Receive Notifications?</label>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="notifications" id="1" checked="checked" value="1"> Yes
					</label>
					<label class="radio-inline">
						<input type="radio" name="notifications" id="2" value="2"> No
					</label>
				</div>
				<hr />
				<label>Notification Frequency</label>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="frequency" id="1" checked="checked" value="1"> Immediately
					</label>
					<label class="radio-inline">
						<input type="radio" name="frequency" id="2" value="2"> Daily
					</label>
					<label class="radio-inline">
						<input type="radio" name="frequency" id="3" value="3"> Weekly
					</label>
				</div>
				<hr />
				<label>Notification Email</label>
				<div class="form-group">
					<input type="text" class="form-control" value="name@address.com" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Update Email</button>
				</div>
			</div>
		</div>
	</div>
</section>
