<section id="dashboard-auth-empty-portfolio" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-7">
				<div class="page-header"><h2>Latest Drug Recalls</h2></div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
			</div>
			<div class="col-sm-4 col-md-5">
				<div class="page-header"><h2>My Portfolio</h2></div>
				<p>There are no drugs saved to your Portfolio.</p>
				<form role="search">
					<div class="form-group">
						<label class="sr-only">Search MyFDA</label>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search drugs..." />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
							</span>
						</div>
						<p class="help-block">You will be able to save drug(s) in order to receive future safety alerts.</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section id="dashboard-auth-with-portfolio" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-7">
				<div class="page-header"><h2>Your Latest Drug Recalls</h2></div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
				<div class="recall">
					<h3><a href="#">Latest Drug Recall RSS Title Goes Here</a></h3>
					<p><strong class="timestamp">6/22/2015 10:00am</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a></p>
					<hr />
				</div>
			</div>
			<div class="col-sm-4 col-md-5">
				<div class="page-header"><h2>My Portfolio</h2></div>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th colspan="3">Drug Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="#">Drug Name</a></td>
							<td><small><a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i> View</a> <a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Remove</a></small></td>
							<td><span class="badge pull-right">4</span></td>
						</tr>
						<tr>
							<td><a href="#">Drug Name</a></td>
							<td><small><a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i> View</a> <a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Remove</a></small></td>
							<td><span class="badge pull-right">4</span></td>
						</tr>
						<tr>
							<td><a href="#">Drug Name</a></td>
							<td><small><a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i> View</a> <a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Remove</a></small></td>
							<td><span class="badge pull-right">4</span></td>
						</tr>
						<tr>
							<td><a href="#">Drug Name</a></td>
							<td><small><a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i> View</a> <a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Remove</a></small></td>
							<td><span class="badge pull-right">4</span></td>
						</tr>
						<tr>
							<td><a href="#">Drug Name</a></td>
							<td><small><a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-eye-open"></i> View</a> <a href="#" class="btn btn-xs"><i class="glyphicon glyphicon-remove"></i> Remove</a></small></td>
							<td><span class="badge pull-right">4</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
