<section id="dashboard-public">
	<div class="container">

	    <div class="row" id="walkthrough">
	        <div class="step col-md-3 no-padding-right">
		        <div class="well well-arrow first active">
			        <p class="lead"><strong><i class="fa fa-search fa-fw"></i> Search</strong> for prescription and over-the-counter drugs by name.</p>
		        </div>
	        </div>
	        <div class="step col-md-3 no-padding">
		        <div class="well well-arrow well-square">
			        <p class="lead"><strong><i class="fa fa-bar-chart fa-fw"></i> View</strong> FDA recalls and reported adverse effects for the drugs you find.</p>
		        </div>
	        </div>
	        <div class="step col-md-3 no-padding">
		        <div class="well well-arrow well-square">
			        <p class="lead"><strong><i class="fa fa-bookmark fa-fw"></i> Save</strong> drugs you commonly take to MyMEDS for future reference.</p> 
		        </div>
	        </div>
	        <div class="step col-md-3 no-padding-left">
		        <div class="well well-arrow last">
			        <p class="lead"><strong><i class="fa fa-random fa-fw"></i> Identify</strong> possible drug interactions to avoid complications.</p>
		        </div>
	        </div>
	    </div>

	</div>
</section>
