<section id="drug-details" class="section">
	<div class="container">
		<div class="page-header"><h2>Drug Name</h2></div>
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#drug-recalls" aria-controls="home" role="tab" data-toggle="tab">Recalls</a></li>
			<li role="presentation"><a href="#drug-effects" aria-controls="profile" role="tab" data-toggle="tab">Adverse Effects</a></li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="drug-recalls">
				<h3>Drug Recalls</h3>
				<form role="search">
					<div class="form-group">
						<label class="sr-only">Search Recalls</label>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search recalls..." />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
							</span>
						</div>
					</div>
				</form>
				<div class="recall">
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-9">
							<h3>Recall Number: 123456 &bull; Status: Active &bull; Initiation Date: 6/22/2015</h3>
							<p><strong class="prepend">Product Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p><strong class="prepend">Recall Reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p>Report Date: 6/22/2015 &bull; Reporting Firm: ABC Reporting CO</p>
						</div>
						<div class="col-sm-5 col-md-4 col-lg-3">
							{{us-map}}
						</div>
					</div>
					<hr />
				</div>
				<div class="recall">
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-9">
							<h3>Recall Number: 123456 &bull; Status: Active &bull; Initiation Date: 6/22/2015</h3>
							<p><strong class="prepend">Product Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p><strong class="prepend">Recall Reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p>Report Date: 6/22/2015 &bull; Reporting Firm: ABC Reporting CO</p>
						</div>
						<div class="col-sm-5 col-md-4 col-lg-3">
							{{us-map}}
						</div>
					</div>
					<hr />
				</div>
				<div class="recall">
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-9">
							<h3>Recall Number: 123456 &bull; Status: Active &bull; Initiation Date: 6/22/2015</h3>
							<p><strong class="prepend">Product Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p><strong class="prepend">Recall Reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p>Report Date: 6/22/2015 &bull; Reporting Firm: ABC Reporting CO</p>
						</div>
						<div class="col-sm-5 col-md-4 col-lg-3">
							{{us-map}}
						</div>
					</div>
					<hr />
				</div>
				<div class="recall">
					<div class="row">
						<div class="col-sm-7 col-md-8 col-lg-9">
							<h3>Recall Number: 123456 &bull; Status: Active &bull; Initiation Date: 6/22/2015</h3>
							<p><strong class="prepend">Product Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p><strong class="prepend">Recall Reason:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<p>Report Date: 6/22/2015 &bull; Reporting Firm: ABC Reporting CO</p>
						</div>
						<div class="col-sm-5 col-md-4 col-lg-3">
							{{us-map}}
						</div>
					</div>
					<hr />
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="drug-effects">
				<h3>Adverse Effects</h3>
				<form role="search">
					<div class="form-group">
						<label class="sr-only">Search Effects</label>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search recalls..." />
							<span class="input-group-btn">
								<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
							</span>
						</div>
					</div>
				</form>
				<div class="effect">
					<h3>Effect Label</h3>

				</div>
			</div>
		</div>
	</div>
</section>
