<section id="search-results" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="page-header"><h2>Search Results for "Search Term" <small>{{model.length}} Results</small></h2></div>

				<!-- Search Results -->
				{{#each model as |result|}}
					<div class="drug">
						<h3><a href="#">{{result.brandName}} <small>({{result.genericName}})</small></a></h3>
						<p class="active-ingredients"><strong class="prepend">Active Ingredient(s):</strong>
							{{#each result.activeIngredients as |ingredient|}}
								<span class="active-ingredient">{{ingredient}}</span>
							{{/each}}
						</p>
						<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Add to My Meds</a></p>
						<hr />
					</div>
				{{/each}}


				<nav>
					<ul class="pagination">
						<li class="disabled">
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
