<section id="search-results" class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				<div class="page-header"><h2>Search Results for "Search Term" <small>32 Results</small></h2></div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<div class="drug">
					<h3><a href="#">Brand Name <small>(Generic Name)</small></a></h3>
					<p><strong class="prepend">Purpose</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><strong class="prepend">Active Ingredient</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<p><a href="#" class="btn btn-default"><i class="glyphicon glyphicon-info-sign"></i> Learn More</a> <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-bookmark"></i> Save Drug</a></p>
					<hr />
				</div>
				<nav>
					<ul class="pagination">
						<li class="disabled">
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li>
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
