<h2>Adverse Effects</h2>
<p class="lead">Expand an Adverse Effect to see more detail. The severity reflects the outcome of the patient. The patient could have presented multiple Adverse Effects to drive that outcome.</p>
<hr />
<!-- <form role="search">
    <div class="form-group">
        <label class="sr-only">Search Effects</label>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search recalls..." />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>
</form> -->
{{#if model.effects.effect}}
<div class="panel-group" id="effects" role="tablist" aria-multiselectable="true">
    {{#each model.effects.effect as |effect|}}
        {{effect-accordion name=effect.effect count=effect.count percent=effect.percent description=effect.description}}
    {{/each}}
</div>
{{else}}
	<div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> No adverse effects have been reported for this drug.</div>
{{/if}}
