<section id="page-header" class="section">
	<div class="container">
		<h1>
			About MyFDA
		</h1>
	</div>
</section>

<section id="style-guide" class="section">
	<div class="container">
		<p class="lead">MyFDA is a prototype solution create by NIC Federal, LLC (formerly named NIC Technologies, LLC) in response to the GSA Request for Quotation (RFQ) for the Establishment of Multiple Award Blanket Purchase Agreements (BPAs) for Agile Delivery Services (ADS I).  For more information about NIC Federal and the NIC family of companies, please see <a href="https://www.egov.com" target="_blank">https://www.egov.com</a>.</p>
		<div class="row">
			<div class="col-sm-7">
				<h2>Problem Statement</h2>
				<p>The FDA publishes a wealth of valuable data on drugs, medical devices, and foods through their openFDA API.  For typical users this data is overwhelming to navigate and track.  The information has the potential to inform users about potential adverse effects and important safety recall information.  To provide true value to users, this vast data set should be related to their needs and presented in an easily consumable, meaningful format.</p>
				<p>While the OpenFDA data is valuable to the user, inconsistencies in the data presented challenges in identifying a particular drug to retrieve the most relevant information.  Correlating this data to valuable information from other providers can be difficult and time consuming for users.  Thus, providing a single trusted and easily-consumed method to access such information would be of huge value to the user.</p>
				<h2>Solution Concept</h2>
				<p>To fully address this problem, the solution has four major themes built with a foundation for growth.  First, to normalize the OpenFDA data to make it easily discoverable by users with limited medical knowledge.  Second, to analyze the data and provide the most relevant information in an easily consumed format to the user, enhanced by additional trusted data sources.  Third, to allow the user to identify and build a profile including their commonly taken medications through a simple one-click mechanism that would appear when viewing a drug.  Finally, to use the profile to put the data into simple-to-understand context for the user and provide immediate access to commonly taken medications.</p>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<h2>Data Sources</h2>
				<p>MyFDA uses the following data sources:</p>
				<ul>
					<li>openFDA - Drug Enforcement Reports</li>
					<li>openFDA - Adverse Drug Events</li>
					<li>openFDA - Drug Labeling</li>
					<li>National Library of Medicine - DailyMed API</li>
					<li>Merriam-Webster Dictionary API</li>
					<li>National Library of Medicine - RxNorm API</li>
				</ul>
			</div>
		</div>
  </div>
</section>
