<!-- Notification Box -->
<div id="notification-box">
</div>

<!-- Main Nav -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- Main Logo -->
			{{#link-to 'dashboard' class="navbar-brand text-hide" id="myfda-logo"}}
				MyFDA
			{{/link-to}}

            {{#unless hideNavSearch}}
			  <!-- Navigation Search Bar -->
              {{autocomplete-search action="performSearch"}}
            {{/unless}}
        </div>

        <div id="nav-collapse-main" class="navbar-collapse">
          {{#if model.anonymous}}
		  <!-- Login -->
              <form name="fb_signin" id="fb_signin" action="/signin/facebook" method="POST">
                  <button href="/signin" class="btn btn-fb navbar-btn navbar-right"><i
                          class="fa fa-facebook-square"/> Log In with Facebook
                  </button>
              </form>
          {{else}}
            <!-- Sign Out -->
              <ul class="nav navbar-nav navbar-right">
                  <li>{{#link-to 'dashboard'}}<i class="fa fa-bookmark"></i> My Meds{{/link-to}}</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{model.name}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/signout"><i class="fa fa-sign-out"></i> Log Out</a></li>
						</ul>
					</li>
              </ul>
          {{/if}}
        </div>
    </div>
</nav>

{{outlet}}

<!-- Footer -->
<section id="info" class="section" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-sm-9 col-md-offset-2 col-sm-offset-3">
				<p>{{#link-to 'about-myfda'}}About MyFDA{{/link-to}} &bull; Help make MyFDA better by <a href="https://www.facebook.com/AboutMyFDA" target="_blank">providing feedback</a> or contributing to the project on <a href="https://github.com/NIC-Federal/myfda.git" target="_blank"><i class="fa fa-github"></i> Github</a>.</p>
				</div>
			</div>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/openfda.png" alt="openFDA" class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.</p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/mw-logo-light-background-125x125.png" alt="Merriam-Webster's Medical&reg; Dictionary" class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">Adverse effect definitions courtesy of Merriam-Webster's Medical<sup>&reg;</sup> Dictionary</p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/nlm.png" alt="National Library of Medicine" class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">This product uses publicly available data from the U.S. National Library of Medicine (NLM), National Institutes of Health, Department of Health and Human Services; NLM is not responsible for the product and does not endorse or recommend this or any other product.</p>
			</div>
		</div>
	</div>
</section>
