<h2 id="title">MyFDA</h2>

<form action="/drug" method="get" id="searchForm">
  Drug search: <input type="text" name="name" id="search" />
  <button type="submit" value="Search">Search</button>
</form>
