<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			{{#link-to 'dashboard' class="navbar-brand text-hide"}}
				MyFDA
			{{/link-to}}

			<!-- Navigation Search Bar -->
			{{#unless isDashboard}}
				{{autocomplete-search action="performSearch"}}
			{{/unless}}

		</div>
		<div id="nav-collapse-main" class="navbar-collapse">
			{{#if userIsAuthenticated}}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
					<li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
				</ul>
			{{else}}
				<button type="button" class="btn btn-primary navbar-btn navbar-right" data-toggle="modal" data-target="#register"><i class="fa fa-facebook-square"></i> Log In with Facebook</button>
			{{/if}}
		</div>
	</div>
</nav>

{{outlet}}

<!-- Login Modal -->
{{partial "login-modal"}}

<!-- Footer -->
<section id="info" class="section" role="contentinfo">
	<div class="container">
		<p>MyFDA by NIC, Inc. using openFDA. openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.</p>
	</div>
</section>
