<!-- Notification Box -->
<div id="notification-box">
</div>

<!-- Main Nav -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<!-- Main Logo -->
			{{#link-to 'dashboard' class="navbar-brand text-hide"}}
				MyFDA
			{{/link-to}}

            {{#unless hideNavSearch}}
			  <!-- Navigation Search Bar -->
              {{autocomplete-search action="performSearch"}}
            {{/unless}}
        </div>

        <div id="nav-collapse-main" class="navbar-collapse">
          {{#if model.anonymous}}
		  <!-- Login -->
              <form name="fb_signin" id="fb_signin" action="/signin/facebook" method="POST">
                  <button href="/signin" class="btn btn-fb navbar-btn navbar-right"><i
                          class="fa fa-facebook-square"/> Log In with Facebook
                  </button>
              </form>
          {{else}}
            <!-- Sign Out -->
              <ul class="nav navbar-nav navbar-right">
                  <li>{{#link-to 'dashboard'}}<i class="fa fa-user"></i> My Meds{{/link-to}}</li>
                  <li><a href="/signout"><i class="fa fa-sign-out"></i> Log Out</a></li>
              </ul>
          {{/if}}
        </div>
    </div>
</nav>

{{outlet}}

<!-- Footer -->
<section id="info" class="section" role="contentinfo">
	<div class="container">
		<p class="text-center">Help make MyFDA better by <a href="#">providing feedback</a>.</p>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/openfda.png" alt="openFDA" class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">openFDA is a beta research project and not for clinical use. While we make every effort to ensure that data is accurate, you should assume all results are unvalidated.</p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/mw-logo-light-background-125x125.png" alt="Merriam-Webster's Medical&reg; Dictionary" class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">Adverse effect definitions courtesy of Merriam-Webster's Medical<sup>&reg;</sup> Dictionary</p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-2 col-sm-3 text-center">
				<div class="center-block"><img src="assets/images/nic.png" alt="NIC, Inc." class="img-responsive" /></div>
			</div>
			<div class="col-md-10 col-sm-9">
				<p class="credit">Prototype made by NIC Technologies</p>
			</div>
		</div>
	</div>
</section>

<span class="hidden-xs"><a href="https://github.com/NIC-Federal"><img style="position: absolute; top: 70px; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a></span>
