<!-- Hero Search -->
<section id="hero" class="section">
    <div class="container">
        <div class="jumbotron text-center">
            <p class="lead">Look up drug safety recalls and adverse effects:</p>
            {{autocomplete-search large=true action="performSearch"}}
        </div>
    </div>
</section>

<!-- Dashboards -->
{{#if userIsAuthenticated}}
    {{partial "dashboards/authenticated"}}
{{else}}
    {{partial "dashboards/unauthenticated"}}
{{/if}}