<!-- Hero Search -->
<section id="hero" class="section">
    <div class="container">
        <div class="jumbotron text-center">
            <p class="lead">Your Source for Helpful Information About FDA-Regulated Drugs</p>
            {{autocomplete-search large=true action="performSearch"}}
        </div>
    </div>
</section>

<!-- Dashboards -->
{{#if UserData.anonymous}}
    {{partial "dashboards/unauthenticated"}}
{{else}}
    {{partial "dashboards/authenticated"}}
{{/if}}
