<section id="drug-details" class="section">
	<div class="container">
		<div class="page-header"><h1>{{drugName}}</h1></div>
		{{#if model.recalls.results}}
			{{partial "drug/has-recalls"}}
		{{else}}
			{{partial "drug/has-no-recalls"}}
		{{/if}}
	</div>
</section>
