<section id="drug-details" class="section">
	<div class="container">
		<div class="page-header"><h2>We Need Drug Name</h2></div>
		<ul class="nav nav-tabs nav-justified" role="tablist">
			<li role="presentation" class="active"><a href="#drug-recalls" aria-controls="home" role="tab" data-toggle="tab">Recalls</a></li>
			<li role="presentation"><a href="#drug-effects" aria-controls="profile" role="tab" data-toggle="tab">Adverse Effects</a></li>
		</ul>
		<div class="tab-content">
			{{partial "drug/recalls"}}
			{{partial "drug/effects"}}
		</div>
	</div>
</section>
