<section id="notifications" class="section">
	<div class="container">
		<div class="page-header"><h1>Style Guide <small>Based off Bootstrap</small></h1></div>
		<p class="lead">We've chosen <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> for our front-end HTML, CSS, and javascript framework. We've also chosen <a href="http://fontawesome.io/" target="_blank">Fontawesome</a> font icons. Below you'll find elements we've used and their customizations.</p>
		<hr />
		<h2>Typography</h2>
		<div class="row">
			<div class="col-sm-4">
				<h3 class="text-muted">Headings</h3>
				<h1>h1. Bootstrap heading</h1>
				<h2>h2. Bootstrap heading</h2>
				<h3>h3. Bootstrap heading</h3>
				<h4>h4. Bootstrap heading</h4>
				<h5>h5. Bootstrap heading</h5>
				<h6>h6. Bootstrap heading</h6>
			</div>
			<div class="col-sm-4">
				<h3 class="text-muted">Body Copy</h3>
				<p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
				<p><strong class="prepend">Prepend:</strong> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
			</div>
			<div class="col-sm-4">
				<h3 class="text-muted">Lead</h3>
				<p class="lead"><strong><i class="fa fa-search fa-fw"></i> SEARCH</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p> 
				<p class="lead"><strong><i class="fa fa-bookmark fa-fw"></i> SAVE</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p> 
				<p class="lead"><strong><i class="fa fa-exclamation-triangle fa-fw"></i> NOTIFY</strong> Nullam quis risus eget urna mollis ornare vel eu leo.</p> 
			</div>
		</div>
		<hr />
		<h2>Forms, Buttons, Labels &amp; Icons</h2>
		<div class="row">
			<div class="col-sm-6">
				<h3 class="text-muted">Search</h3>
				<h4>Hero Search</h4>
				<form role="search">
				    <div class="form-group">
				        <label class="sr-only">Search MyFDA</label>
				        <div id="dashboard-search" class="input-group">
				            <input type="text" name="name" class="form-control drug-search input-lg" placeholder="Search drugs by name..."/>
				            <span class="input-group-btn">
				                <button class="btn btn-primary input-lg"><i class="fa fa-search"></i> Search</button>
				            </span>
				        </div>
				    </div>
				</form>
				<h4>Small Search</h4>
				<form role="search" class="navbar-form example">
				  <div class="form-group">
				    <label class="sr-only">Search MyFDA</label>
				    <div class="input-group">
				        <input type="text" name="name" class="form-control drug-search" placeholder="Search..." />
				      <span class="input-group-btn">
				        <button class="btn btn-default"><i class="fa fa-search"></i></button>
				      </span>
				    </div>
				  </div>
				</form>
				<hr />
				<h3 class="text-muted">Buttons</h3>
				<p><button class="btn btn-primary">Primary Button</button> <button class="btn btn-default">Default Button</button> <button class="btn btn-fb">Facebook Button</button></p>
			</div>
			<div class="col-sm-3 col-md-2 col-md-offset-1">
				<h3 class="text-muted">Labels</h3>
                <p><span class="label label-success">Label</span></p>
				<p>
					<span class="label-severity text-info"><i class="fa fa-square"></i> Info</span><br />
					<span class="label-severity text-primary"><i class="fa fa-square"></i> Primary</span><br />
					<span class="label-severity text-success"><i class="fa fa-square"></i> Success</span><br />
					<span class="label-severity text-warning"><i class="fa fa-square"></i> Warning</span><br />
					<span class="label-severity text-danger"><i class="fa fa-square"></i> Danger</span>
				</p>
			</div>
			<div class="col-sm-3 col-md-3">
				<h3 class="text-muted">Icons</h3>
				<p>
					<i class="fa fa-search"></i> Search<br />
					<i class="fa fa-bar-chart"></i> Bar Chart<br />
					<i class="fa fa-bookmark"></i> Bookmaek<br />
					<i class="fa fa-square"></i> Square<br />
					<i class="fa fa-plus-square"></i> Plus Square<br />
					<i class="fa fa-flask"></i> Flask<br />
					<i class="fa fa-exclamation-triangle"></i> Exclamation Triangle<br />
					<i class="fa fa-info-circle"></i> Info Circle<br />
					<i class="fa fa-facebook-official"></i> Facebook Official<br />
					<i class="fa fa-chevron-down"></i> Chevron Down<br />
					<i class="fa fa-male"></i> Male<br />
					<i class="fa fa-female"></i> Female
				</p>
			</div>
		</div>
	</div>
</section>